.well.sidebar-nav
  %ul.nav
    %li Resources
    - @documents.each do |document|
      - if document.visible_to?(_current_user)
        %li= link_to document.name.humanize, garage_docs.resource_path(document.name)
