<!DOCTYPE html>
<html>
<head>
  <title>Platform2</title>
  <%= stylesheet_link_tag    "platform2/application", :media => "all" %>
  <%= javascript_include_tag "platform2/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
