.section.toc {
  ul ul {
    display: none;
  }
}

.section.document {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 3em;
    margin-bottom: .4em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }
}

.section.console {
  .field {
    padding: 1em 0;
  }
}

.main #oauth-dialog {
  display: none;
}
