// For app/views/layouts.

header {
  border-bottom: solid 1px #ddd;
  color: white;
  background: #f8f8f8;

  h1 a {
    color: #333;
  }

  .section {
    overflow: hidden;
  }

  h1 {
    float: left;
  }

  .right {
    float: right;
  }

  ul {
    line-height: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  li {
    float: left;
    margin-left: 1em;
  }
}

.main {
  padding: 1em 0;
}
