* {
  margin: 0;
  padding: 0;
}

a {
  color: #889b00;
}

ol,
ul {
  padding-left: 1.4em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

pre {
  overflow-x: scroll;
  border: solid 1px #ccc;
  border-radius: 2px;
  margin-bottom: 1em;
  padding: 1em;
  background: #eee;
}

code {
  border: solid 1px #ccc;
  border-radius: 2px;
  padding: 2px;
  background: #eee;
}

pre > code {
  border: 0;
  border-radius: 0;
  padding: 0;
  background: inherit;
}

body {
  width: 920px;
  margin: 0 auto 40px;
  padding: 0 20px;
  line-height: 1.5;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-fixed-top {
  overflow: hidden;
  padding-top: 20px;

  .brand {
    float: left;
    font-weight: bold;
    font-size: 2em;
  }

  .pull-right {
    float: right;
  }
}
.container {
  > .content > .row {
    > .span3 .nav-list .nav-header {
      list-style: circle;
      font-weight: bold;
    }

    > .span9 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 1em 0 .2em;
      }

      h1 {
        border-bottom: solid 4px #888;
      }

      hr {
        margin: 2em 0;
        border-top: solid 1px #ccc;
        border-bottom: none;
      }
    }
  }

  #oauth-dialog {
    display: none;
  }

  footer {
    padding-top: 40px;
  }
}

#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

#cboxOverlay {
  background: #000;
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 20px;
  background: #000;
}

@mixin border-radius($size) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  -o-border-radius: $size;
  border-radius: $size;
}

#cboxLoadedContent {
  @include border-radius(10px);
  border: 10px solid #fff;
  background: #fff;
}
